<div class="page-header">
  <h1>
    Articles
    <a href="/articles/new" class="btn btn-lg btn-success">New Article</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Date</th>
        <th>Posted Date</th>
        <th>Tag</th>
        <th>Posted By</th>
        <th>Url</th>
        <th>Actions</th>
      </tr>

      <% @articles.each do |article| %>
      <tr>
        <td><a href="/articles/<%= article.id %>"><%= article.title %></td>
        <td>
          <% article.stories.each do |story| %>
          <dd><%= story.company.name %></dd>
          <% end %>
        </td>
        <td><%= article.date %></td>
        <td><%= article.created_at.strftime('%F') %></td>
        <td><%= article.tag %></td>
        <td><%= article.user.username %></td>
        <td><% if article.url[21] != nil then %>
          <%=  article.url[0,20]+"..." %>
          <% else %>
          <%=  article.url%>
          <% end %>
        </td>
        <td>
          <% if article.user_id == current_user.id then %>
          <a href="/articles/<%= article.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_article/<%= article.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
