<div class="page-header">
  <h3><%= @company.name %></h3>


<form action="/create_tracking" method="post">
  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden">
  <input type="hidden" name="company_id" value="<%= @company.id %>">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <button class="btn btn-info">
    <i>Track Company</i>
  </button>
</form>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @company.name %></dd>

      <dt>Description</dt>
      <dd><%= @company.description %></dd>

      <dt>HQ address</dt>
      <dd><%= @company.hq_address %></dd>

      <dt>Active business</dt>
      <dd><%= if @company.active_business then "Yes" else "No" end%></dd>

      <dt>Added by</dt>
      <dd><%= @company.user.username %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/companies" class="btn btn-primary">
        Back
      </a>
      <a href="/companies/<%= @company.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_company/<%= @company.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<h2>Comments</h2>



<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">

          <% @company.company_comments.each do |comment| %>
          <tr>
            <td><%= comment.user.username%> ... <%= time_ago_in_words(comment.created_at) %> ago </br></td>
            <td><%= comment.comment %></td>

            <td>
              <a href="/comment/<%= comment.id %>" class="btn btn-primary">Show</a>
              <% if comment.user.id == current_user.id then %>
              <a href="/comment/<%= comment.id %>/edit" class="btn btn-warning">Edit</a>
              <a href="/delete_company_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
              <% end %>
              </br>
            </td>
          </tr>
          <% end %>

            <td><p>
              <form action="/create_company_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden">

                <!-- Label and input for New comment -->
                <div class="form-group">
                  <input type="text" id="new_comment" name="comment" placeholder="New Comment" class="form-control">
                </div>

                <input type="hidden" name="company_id" value="<%= @company.id %>">

                <input type="hidden" name="user_id" value="<%= current_user.id %>">
                <button class="btn btn-link">
                  <i>Submit Comment</i>
                </button>
              </form>
            </p></td>
        </h3>
      </div>
    </div>
  </div>
</div>
