<div class="page-header">
  <h3>Company #<%= @company.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @company.name %></dd>

      <dt>Description</dt>
      <dd><%= @company.description %></dd>

      <dt>HQ address</dt>
      <dd><%= @company.hq_address %></dd>

      <dt>Active business</dt>
      <dd><%= if @company.active_business then "Yes" else "No" end%></dd>

      <dt>Added by</dt>
      <dd><%= User.find_by({ :id => @company.user_id }).username %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/companies" class="btn btn-primary">
        Back
      </a>
      <a href="/companies/<%= @company.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_company/<%= @company.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
