<!-- Validation failure messages -->
<% if @story.errors.any? %>
  <% @story.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Story #<%= @story.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_story/<%= @story.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for company_id -->
      <div class="form-group">
        <label for="company_id" class="control-label">
          Company
        </label>

        <input type="text" id="company_id" name="company_id" placeholder="Company" class="form-control" value="<%= @story.company_id %>">
      </div>

      <!-- Label and input for article_id -->
      <div class="form-group">
        <label for="article_id" class="control-label">
          Article
        </label>

        <input type="text" id="article_id" name="article_id" placeholder="Article" class="form-control" value="<%= @story.article_id %>">
      </div>

      <button class="btn btn-warning">
        Update Story
      </button>
      or
      <a href="/stories/<%= @story.id %>">Cancel</a>
    </form>
  </div>
</div>
