<!-- Validation failure messages -->
<% if @company_comment.errors.any? %>
  <% @company_comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Company Comment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_company_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <textarea id="comment" name="comment" placeholder="Comment" class="form-control" rows="3"><%= @company_comment.comment %></textarea>
      </div>

      <!-- Label and input for company_id -->
      <div class="form-group">
        <label for="company_id" class="control-label">
          Company
        </label>

        <input type="text" id="company_id" name="company_id" placeholder="Company" class="form-control" value="<%= @company_comment.company_id %>">
      </div>

      <!-- Label and input for user_id -->
        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">


      <button class="btn btn-success">
        Create Company Comment
      </button>
      or
      <a href="/company_comments">Cancel</a>
    </form>
  </div>
</div>
